<div class="row w-50 mt-3">
    <div class="col col-6">
        <select  [(ngModel)]="selectedChampionShip" (ngModelChange)="UserChampionShipSelected()" class="form-select" aria-label="Default select example">
            <option [ngValue]="null" disabled selected>ChampionShips</option>
            @for (championShip of ChampionShipList; track $index) 
            {
              <option [ngValue]="championShip">{{championShip.name}}</option>                  
            }
        </select>
    </div>
    <div class="col col-6">
        <select [(ngModel)]="selectedGroup" (ngModelChange)="UserGroupSelected()" class="form-select" aria-label="Default select example">
            <option [ngValue]="null" disabled selected>Groups</option>
            @for (group of GroupList; track $index) 
            {
              <option [ngValue]="group">{{group.group}}</option>                  
            }
        </select>
    </div>
</div>
<app-positions-table></app-positions-table>