<div>
    <table class="table m-0"data-bs-theme="dark">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">TEAM</th>
        <th scope="col">PJ</th>
        <th scope="col">PG</th>
        <th scope="col">PE</th>
        <th scope="col">PP</th>
        <th scope="col">GF</th>
        <th scope="col">GC</th>
        <th scope="col">PTS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Colombia</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>5</td>
        <td>2</td>
        <td>6</td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Japon</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Senegal</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Polonia</td>
        <td>3</td>
        <td>1</td>
        <td>0</td>
        <td>2</td>
        <td>2</td>
        <td>5</td>
        <td>3</td>
        </tr>
    </tbody>
    </table>
    <div class="tableFooter p-2 d-flex align-items-center">
        <p class="text-white fs-5 m-0">0 selected/ 4 total</p>
    </div>
</div>